<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>智凱個人網站</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
  <!-- Header -->
  <header id="home" class="header">
    <div class="header-container">
      <div class="text-center text-white">
        <img src="images/logo.png" class="header-logo" alt="">
        <h1 class="mt-3 header-title">Hi！<br>歡迎來到智凱個人網站</h1>
        <div class="mt-4 header-actions">
          <a href="#about" class="btn btn-info btn-lg">我的介紹</a>
          <a href="#portfolio" class="btn btn-outline-light btn-lg">專案作品</a>
        </div>
      </div>
    </div>
  </header>

  <!-- NavBar -->
  <nav id="navBar" class="navbar navbar-expand-lg navbar-dark bg-darktrans sticky-top">
    <div class="container">
      <a class="navbar-brand" href="#home">
        <img class="navbar-logo" src="images/logo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" :class="{'active': active==1}">
            <a class="nav-link" href="#home" @click="active=1">首頁</a>
          </li>
          <li class="nav-item" :class="{'active': active==2}">
            <a class="nav-link" href="#about" @click="active=2">關於我</a>
          </li>
          <li class="nav-item" :class="{'active': active==3}">
            <a class="nav-link" href="#experience" @click="active=3">相關經歷</a>
          </li>
          <li class="nav-item" :class="{'active': active==4}">
            <a class="nav-link" href="#portfolio" @click="active=4">專案作品</a>
          </li>
          <li class="nav-item" :class="{'active': active==5}">
            <a class="nav-link" href="#contact" @click="active=5">聯絡我</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>

  <!-- About Me -->
  <section id="about" class="container py-5">
    <h2 class="text-center section-title">關於我</h2>
    <div class="section-title-divider"></div>
    <div class="row">
      <div class="col-md-4 mb-2 px-5">
        <img class="img-fluid rounded" src="images/avatar.jpg" alt="">
      </div>
      <div class="col-md-8 px-5">
        <!-- <h3 class="text-center mt-2">游智凱 - Kevin Yu</h3> -->
        <div class="row mt-4">
          <div class="col-md-6 about-item">
            <div class="float-left"><i class="fas fa-graduation-cap"></i></div>
            <h4 class="about-title">學歷</h4>
            <p class="about-description">
              — 政治大學資訊管理學系<br>
              — 雙主修 數位內容與科技學程<br>
              — 樂觀、積極、開朗、勇於實現夢想
            </p>
          </div>
          <div class="col-md-6 about-item">
            <div class="float-left"><i class="fas fa-user-tag"></i></div>
            <h4 class="about-title">個人特質</h4>
            <p class="about-description">
              — 只要加倍努力，必定看的見成果<br>
              — 找到興趣與熱忱，便會投入所有<br>
              — 有了目標，絕對會不斷積極的學習
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 about-item">
            <div class="float-left"><i class="fas fa-code"></i></div>
            <h4 class="about-title">技能</h4>
            <div class="about-skills">
              <span>HTML5</span>
              <div class="progress mb-3">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 95%">95%</div>
              </div>
              <span>CSS3、Bootstrp4框架</span>
              <div class="progress mb-3">
                <div class="progress-bar bg-info" role="progressbar" style="width: 85%">85%</div>
              </div>
              <span>JavaScript (ES6)，JQuery、Vue.js框架 (Vue CLI/Vue Router)</span>
              <div class="progress mb-3">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 70%">70%</div>
              </div>
              <span>Java、Python (Django框架)</span>
              <div class="progress mb-3">
                <div class="progress-bar bg-success" role="progressbar" style="width: 40%">40%</div>
              </div>
              <span>Git、Heroku部署 (作品集中有自己部署的網站)</span>
              <div class="progress mb-3">
                <div class="progress-bar bg-brown" role="progressbar" style="width: 40%">40%</div>
              </div>
              <span>使用者經驗設計UX流程 (含比賽及人機互動設計經驗)</span>
              <div class="progress mb-3">
                <div class="progress-bar bg-purple" role="progressbar" style="width: 60%">60%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <!-- Experience -->
  <section id="experience" class="py-5">
    <div class="container">
      <h2 class="text-center section-title">相關經歷</h2>
      <div class="section-title-divider"></div>
      <p class="text-center pb-3">實習、比賽、打工等相關經歷</p>
      <div class="row">
        <card v-for='item in exp' :item='item' type='exp' :key='item.title' v-cloak></card>
      </div>
    </div>
  </section>

  <!-- Portfolio -->
  <section id="portfolio" class="py-5">
    <div class="container">
      <h2 class="text-center section-title">專案作品</h2>
      <div class="section-title-divider"></div>
      <p class="text-center pb-3">大三大四以來累積的各式作品，可點擊連結查看更多內容</p>
      <div class="row">
        <card v-for='item in works' :item='item' type='works' :key='item.title' v-cloak></card>
      </div>
    </div>
  </section>

  <!-- Contact -->
  <section id="contact" class="py-4">
    <div class="container">
      <h2 class="text-center section-title">聯絡我</h2>
      <div class="section-title-divider"></div>
      <p class="text-center pb-2"> 以下有我的連絡資訊，歡迎與我聯絡!! (但表單是假的XD)</p>
      <div class="row justify-content-md-center align-items-center py-4 mx-2">
        <div class="col-md-3">
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>國立政治大學</p>
            </div>
            <div>
              <i class="fa fa-envelope"></i>
              <p>f7123442@gmail.com</p>
            </div>
            <div>
              <i class="fa fa-phone"></i>
              <p>0909-663-086</p>
            </div>
            <div>
              <i class="fab fa-facebook-square"></i>
              <p>
                <a href="https://www.facebook.com/profile.php?id=100001819515411" target="_blank">
                  智凱facebook
                </a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="form">
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="您的稱呼" data-rule="minlen:4"
                  data-msg="Please enter at least 4 chars">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="您的信箱" data-rule="email"
                  data-msg="Please enter a valid email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="留言標題"
                  data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required"
                  data-msg="Please write something for us" placeholder="想對我說的話..."></textarea>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-info">送出表單！</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer id="footer">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <div class="copyright">
            © Copyright <strong>Kevin Yu</strong> / 2019.
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- GoTop Button -->
  <button id="scroll-to-top" type="button" class="btn btn-secondary">
    <i class="fas fa-chevron-up"></i>
  </button>

  <!-- Vue Component 'Card' -->
  <script type="text/x-template" id='work'>
    <div class="col-md-4 mb-5">
      <div class="work-box">
        <div class="work-img">
          <img :src="item.img" class="img-fluid">
        </div>
        <div class="work-content">
          <div class="row">
            <div class="col-9">
              <h2 class="w-title">{{ item.title }}</h2>
              <div class="mb-3">
                <span class="w-catagory">{{item.category}}</span> / <span class="w-date">{{item.date}}</span>
              </div>
            </div>
            <div class="col-3">
              <a :href="item.btn.link" target="_blank"
                class="btn btn-primary btn-sm float-right" v-if='item.btn'>{{ item.btn.word }}</a>
            </div>
          </div>
          <div class="w-more d-flex mx-3">
            <div class="icon mr-2">
              <i class="fas fa-code" v-if="type=='works'"></i>
              <i class="far fa-edit" v-else></i>
            </div>
            <p v-html='item.skill'></p>
          </div>
          <div class="w-more d-flex mx-3">
            <div class="icon mr-2"><i class="fas fa-check-square"></i></div>
            <p v-html='item.description'></p>
          </div>
        </div>
      </div>
    </div>
  </script>

  <!-- bootstrap javascript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <!-- custom javascript -->
  <script src="js/main.js"></script>
  <script src="js/custom.js"></script>
</body>

</html>
